

.event-card {
    display: flex;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    background: #fff;
    margin-left: 10px;
    margin-right: 10px;
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-image {
    width: 100%;
    max-width: 220px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.event-details {
    padding: 10px 20px;
}

.event-name {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
}

.hosted-by,
.Type,
.Date,
.venue {
    font-size: 1.1rem;
    color: #555;
    margin: 4px 0;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-warning {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.btn-warning:hover {
    background-color: #d39e00;
}
